.main-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.navbar {
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.navbar div {
  text-align: center;
  cursor: pointer;
}
.navbar div h5 {
  margin-top: -10px;
}
.section-one {
  overflow: none;
  margin: 10px;
}
.card-section {
  display: flex;
  justify-content: space-evenly;
}
.card-medium {
  width: 150px;
  position: relative;
  border: none;
  border-radius: 15px;
  height: 200px;
  overflow: hidden;
}
.card-medium:hover img {
  transform: scale(2);
}
.card-medium img {
  transition: all 0.4s ease-in;
  width: 100%;
  height: 100%;
}
.card-medium h5 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.audits {
  margin: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}
.card-small {
  width: 50px;
  height: 150px;
}
.card-small img {
  width: 100%;
  height: 50%;
}
.card-small p {
  font-size: 0.8rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
.section-images {
  margin: 10px;
  display: flex;
  gap: 30px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-images-card {
  margin: auto;
  width: 90%;
  height: 100%;
}
.section-images-inner {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 50vh;
  border: none;
  border-radius: 15px;
}
.section-images-inner img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in;
}
.section-images-translate {
  position: absolute;
  left: 30%;
  font-size: 1.6rem;
  color: white;
  bottom: 12%;
  transform: translateY(100%);
  transition: all 0.2s ease-in;
}
.section-images-translate a {
  text-decoration: none;
  font-size: 1.2rem;
  visibility: none;
}
.section-images-inner:hover img {
  opacity: 0.6;
}
.section-images-inner:hover .section-images-translate {
  transform: translateY(0);
  color: #333;
}
.section-three {
  margin: 20px;
  padding: 10px;
}
.section-three div {
  margin: 20px 0;
}
.section-three div h3 {
  margin-bottom: 20px;
}
.section-three div p {
  font-weight: bold;
}
.footer {
  background-color: black;
  color: white;
}
.footer-heading {
  padding: 10px;
  border-bottom: 2px solid white;
}
.footer-paras {
  padding: 10px;
}
.footer-paras h5,
p {
  margin-bottom: 2px;
}
.footer-paras p {
  color: #999;
}

.bottom-navbar {
  display: flex;
  z-index: 5;
  background-color: beige;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
}
.navbar-icons {
  text-align: center;
  font-size: 1rem;
  color: #999;
  transition: all 0.2s ease;
}
.navbar-icons:hover {
  color: black;
  cursor: pointer;
}
.navbar-icons.active {
  color: black;
}
